# site build output
site/dist/
site/.astro/

# deps
site/node_modules/
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.production

# editor / OS
.DS_Store
.vscode/
.idea/
*.swp
